{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "modules": "./modules"
        }
      }
    ]
  ]
}