.trackView{

  margin: auto;
  margin-top: 20px;

  .trackView-header{
    margin-top: 20px;
  }

  .trackView-ratingSegment {
    margin: auto;
    width: 20%;
  }

  .trackView-button {
    margin: auto;
    margin-top: 10px;
  }

  .trackView-rating {
    margin: auto;
    margin-top: 10px;
  }

}