.authorView {
  margin: 20px auto auto;
  height: 100%;

  .authorView-main {
    height: 80%;
    -webkit-box-shadow: 0 0 34px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 34px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 34px -5px rgba(0, 0, 0, 0.75);
    padding: 20px;
  }

  .authorView-header {
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    border-bottom: solid 2px rgb(176, 225, 223);
  }

  .authorView-ratingSegment {
    margin: auto;
    width: 20%;
  }

  .authorView-button {
    margin: 10px auto auto;
  }

  .authorView-rating {
    margin: 10px auto auto;
  }

  .authorView-rating-score{
    float: right;
  }

}