.authorForm{
  margin-top: 20px;

  .authorForm-form{
    width: 30%;
    margin: 20px auto;

    .authorForm-label{
      text-align: left;
      padding-left: 10px;
    }
  }

  .authorForm-button {
    margin-top: 10px;
  }

}